/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/material.css';
@import '~codemirror/theme/neat.css';
@import '~antd/dist/antd.min.css';


.App {
  text-align: center;
}

.App-header {
  background-color: #85a5ff;
  padding: 3px;
}

#home-title {
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 0px;
}

.App-title {
  font-size: 1em;
}

.App-intro {
  font-size: large;
}

.flex {
  display: flex;
}

.react-codemirror2 {
  text-align: left;
}

.login-form {
  max-width: 500px;
  margin: auto;
  padding: 100px;

}
.login-container {
  width: 100vw;

  align-content: center;
}

.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.guest-btn {
  width: 100%;
}

.responsive-container {
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.file-input {
  flex: 1;
  width: 35%;
  max-width: 300px;
}

/* .CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
  margin-left: 35px !important;
} */

@media (max-width: 600px) {
  .file-system-container, .file-input {
    display: block;
    width: 100%
  }
}

.snippet-form {
  padding-top: 6px;
  padding-bottom: 6px;
}


.app-container {
  display: flex;
}

body {
  background: #bae7ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #adc6ff, #bae7ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #adc6ff, #bae7ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.menu-bar {
  height: 100vh;
}

.menu-bar-hidden {
  display: none;
}

.main-content {
  width: calc(100vw - 256px);
  padding: 5px;
}

.discover-btn-row {
 display: flex;
}

.discover-add-btn {
  padding-left: 5px;
}
